*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

* {
   --width-card: clamp(3.5rem, 7.5vw, 8rem);
}

body {
   font-family: monospace;
   background-color: #2f4f30;
   color: #fff;
   height: 100dvb;
   overflow: hidden;
}

h1 {
   /* text-decoration: dashed underline; */
   text-align: center;
   font-size: clamp(1rem, 5vw, 1.5rem);
   padding: 1rem;
}

img {
   max-width: 100%;
   height: auto;
}

main {
   margin: 0 auto;
   width: 90%;
   max-width: 79%;
   display: grid;
   grid-template-columns: 1fr;
   place-items: center;
   gap: 10rem 0;
   position: relative;
}

small {
   background-color: #123;
   display: block;
   width: fit-content;
   text-align: center;
   font-size: clamp(0.7rem, 2vw, 1rem);
   border-radius: 0.5rem;

   margin: 0 auto;
   margin-bottom: 0.3rem;
   padding: 0.5rem;
}

.card {
   width: var(--width-card);
}

.container_deck_machine {
   width: 100%;
   display: flex;
   position: relative;
}

.container_deck_machine,
.content_machine,
.container_player {
   height: clamp(12rem, 15vw, 15rem);
}

.container_card_deck {
   position: absolute;
}

.container_card_deck img {
   border-radius: 10px;
   box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3),
      2px 6px 12px rgba(0, 0, 0, 0.2),
      inset 1px 1px 4px rgba(255, 255, 255, 0.6);
}

.content_machine {
   margin: 0 auto;
}

.container_player,
.content_machine {
   .card {
      position: relative;
      left: 2rem;
      transition: all 0.5s ease-in-out;
   }

   .card {
      margin-left: -10%;
   }

   .card:hover {
      z-index: 1;
      translate: -1rem;
      rotate: -5deg;
   }

   .card:last-child:hover {
      translate: 0.2rem;
      rotate: 4deg;
   }
}

/** Animation de las card para el jugador */
@keyframes moveCardPlayer {
   0% {
      transform: translate(-20rem, -20rem) rotate(-25deg);
      opacity: 0;
   }

   20% {
      opacity: 1;
   }

   100% {
      transform: translate(0, 0) rotate(0deg);
      opacity: 1;
   }
}

.container_player .card {
   opacity: 0;
   animation: moveCardPlayer 1s ease-out;
   animation-fill-mode: forwards;
}

.container_player .card:nth-child(1) {
   animation-delay: 0.5s;
}

.container_player .card:nth-child(2) {
   animation-delay: 1s;
}


/** Animation de las card para la maquina */
@keyframes moveCardMachine {
   0% {
      transform: translate(-20rem, 0rem) rotate(-25deg);
      opacity: 0;
   }

   20% {
      opacity: 1;
   }

   100% {
      transform: translate(0, 0) rotate(0deg);
      opacity: 1;
   }
}

.content_machine .card {
   opacity: 0;
   animation: moveCardMachine 1s ease-out;
   animation-fill-mode: forwards;
}

.content_machine .card:nth-child(1) {
   animation-delay: 2s;
}

.content_machine .card:nth-child(2) {
   animation-delay: 2.5s;
}

/** STYLOS DE BOTONES */
@keyframes animationBtn_new {
   0% {
      border-color: transparent;
   }

   25% {
      border-color: #78ce7b;
   }

   50% {
      border-color: transparent;

   }

   75% {
      border-color: #78ce7b;
   }

   100% {
      border-color: transparent;
   }
}

.container_actions {
   display: block;

   border-top: 1px solid #fffa;
   border-bottom: 1px solid #fffa;
   background-color: #0009;
   position: fixed;
   backdrop-filter: blur(2px);
   width: 100%;
   z-index: 10;
   padding: 0.5rem;
}

.container_actions h3 {
   min-width: 100%;
   font-size: 1.1rem;
}

.container_actions label {
   display: block;
   font-size: 0.8rem;
   font-weight: bold;
   opacity: 0.7;
   margin-top: 0.1rem;
}

.container_actions button {
   opacity: 0.9;
   background-color: #0003;
   width: 3rem;
   height: 3rem;
   font-size: 1.2rem;
   border: none;
   border-radius: 50%;
   border-style: solid;
   border-width: 2px;
}

.container_actions .btn-continue:hover~label {
   opacity: 1;
}

.container_actions .btn-continue:hover {
   opacity: 1;
}

.container_state,
.container_rules,
.container_btn_player {
   display: none;
   justify-content: center;
   flex-wrap: wrap;
   text-align: center;
   gap: 1.5rem;
}

.container_btn_player div {
   width: 6rem;
}

#btn_take {
   color: #78ce7b;
   /* border-color: #78ce7b; */
}

#btn_stop {
   width: 2.5rem;
   height: 2.5rem;
   color: #dd5a5a;
   /* border-color: #dd5a5a; */
}

.btn_new {
   width: 2.5rem;
   height: 2.5rem;
   color: #db691e;
}

.container_rules {
   .btn_rule {
      color: tomato;
      cursor: pointer;
   }
}

.btn_active {
   display: block;
}

.btn-continue {
   cursor: pointer;
}

.btn-disabled {
   cursor: not-allowed;
   opacity: 0.5;
}

.active_flex {
   display: flex;
}


/** MEDIA QUERYS */
@media screen and (max-width: 768px) {
   .card {
      width: 5rem;
   }

   .content_machine {
      margin: 0;
      margin-left: auto;
   }

   .container_player,
   .content_machine {
      width: 12rem;
   }

   @keyframes moveCardPlayer {
      0% {
         transform: translate(-5rem, -20rem) rotate(-25deg);
         opacity: 0;
      }

      50% {
         opacity: 1;
      }

      100% {
         transform: translate(0, 0) rotate(0deg);
         opacity: 1;
      }
   }

   @keyframes moveCardMachine {
      0% {
         transform: translate(-10rem, 0rem) rotate(-25deg);
         opacity: 0;
      }

      50% {
         opacity: 1;
      }

      100% {
         transform: translate(0, 0) rotate(0deg);
         opacity: 1;
      }
   }
}